# WEB SCRAPING – ASSIGNMENT 2

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:

In [28]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [29]:
# connect to webdriver
driver=webdriver.Chrome(r'C:\Users\Naren Kumar\Downloads\chromedriver_win32\chromedriver.exe')

In [30]:
# get webpage
driver.get("https://www.naukri.com/")

In [31]:
# Find web element for search bar using class name
search_job = driver.find_element(By.CLASS_NAME,'suggestor-input')
search_job

In [32]:
#write on search bar
search_job.send_keys("Data Analyst")

In [33]:
#Finding web element for search location bar using relative Xpath 
search_loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_loc

In [34]:
#finding web element for job locatin bar
search_loc.send_keys("Bangalore")

In [35]:

import sys
  
  
print("User Current Version:-", sys.version)

User Current Version:- 3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]

In [36]:
#clicking using web absolute xpath function 
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [37]:
search_btn.click()

# Extracting Job Titles

In [38]:
#extract all the web element having job titles
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [39]:
# creating empty list to scraping data into them

job_title=[]
company_name=[]
experience_required=[]
job_location=[]

In [40]:
for i in title_tags:
    title = i.text
    job_title.append(title)
job_title = job_title[0:10]

print("Below are the top 10 job data's job title: \n", job_title)

Below are the top 10 job data's job title:
 ['Data Analyst I', 'Data Science / Data Engineer / Business Analyst / Full Stack Developer', 'Sr.Business Data Analyst', 'Senior Data Analyst', 'Sr Data Analyst', 'Data Analyst - IIM/ISB/MDI/FMS/SP Jain', 'Data Analyst / Business analyst - US MNC (analytics)', 'Business Analyst/Data Analyst', 'Junior Data Analyst', 'Senior Data Analysis Analyst']

In [41]:
# extracting all the tags having company name

company_tag = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
company_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="1ee7c7f3-669e-4576-aef6-c3f82ae51ed5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="a75b2139-f69c-4d74-817f-b837f2dbe573")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="bea0e014-283b-47b7-a0ec-3aec0a34cabc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="f51975a3-ca0a-4ebb-b9f5-8361242efad6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="a48c327f-2fff-404d-8434-3f694655f17d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="69ba7d51-ad80-4684-9f73-8bd16424c96a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="d7d3b8e3-f8e9-4114-b0c3-0d5d71e60e5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="6833a4cc-a5f0-4243-9aca-86766456655e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="0e388532-508a-4a3b-86cf-cba9b25f57b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="f22d06f5-1cad-404c-8a65-a2db82e235f7")>]

In [42]:
# extract the job title text iteratively from these tags one by one

for i in company_tag:
    company = i.text
    company_name.append(company)
company_name = company_name[10:20]
print("Below are the top 10 job data's : \n", company_name)

Below are the top 10 job data's :
 ['Affine', 'Everest Fleet Pvt. Ltd.', 'Yespired', 'Thomson Reuters', 'KrazyBee', 'Accenture', 'Talent Placers', 'RGBSI', 'Botree Software', 'Jobs Accuracy']

In [43]:
# extracting all the tags having job-experience

exp_tag = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="804334f2-7081-4b49-8c02-d5c724dfe614")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="cfe79c68-394b-4599-be76-f3c871765cc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="1f5394e3-c527-4018-8611-32fb932b4b48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="ab4182e2-8206-42af-827a-f3d4e093fe21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="31dd17ea-4b79-495f-923e-de893e68965c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="95a70ca0-3ab9-4eeb-8181-5cd3a189fc8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="2ce8f57f-ea4d-484f-9b8a-7bb5bba0df33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="e6f9b650-d3d7-4fa3-87f5-012fe6c23fe4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="c92f64cf-21aa-41d7-b93a-359edd362cad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="b6627354-9807-4b9d-86c7-c8a5d67445bb")>]

In [44]:
# extract the job experience text iteratively from these tags one by one

for i in exp_tag: 
    experience_required.append(i.text.split(" ")[0])
experience_required= experience_required[0:10]
print("Below are the top 10 job data's job title: \n", experience_required)

Below are the top 10 job data's job title:
 ['5-10', '0-3', '6-11', '3-4', '5-8', '4-9', '2-7', '3-5', '1-6', '7-12']

In [45]:
# extracting all the tags having job-location 

location_tag = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="f513dcfe-aa64-4998-a27a-303d73a796f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="1fcaf82b-edfa-4b9e-b843-bcab30424c49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="14e52ab5-1ee6-42f7-90fd-277e53f063c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="73214353-06e8-46e0-88b1-d2ab5f89a0ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="0da33c94-9a78-4bcd-b2bb-88a044c6a7db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="9e2f5dbd-b96c-4bd6-b3c4-4565abdcf18b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="cfa7daba-79d3-4341-9c43-e9bfce960968")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="dab7b232-af53-46e8-9d57-21bb3aec537a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="0dbbdc89-b86c-46d3-b03d-635cb047ba6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a90006c5d8f84a1223b2ade3174783b0", element="d0524f26-6f8c-4451-8e79-6aea84dc80f2")>]

In [46]:
for i in location_tag:
    location = i.text
    job_location.append(location)
job_location = job_location[0:10]
print("Below are the top 10 job data's company location \n", job_location)

Below are the top 10 job data's company location
 ['Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru, karnataka\n(WFH during Covid)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi / NCR\n(WFH during Covid)', 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Delhi / NCR', 'Bangalore/Bengaluru, New Delhi', 'Bangalore/Bengaluru, Pune, Chennai']

In [47]:
# making DataFrame of the top 10 job details from the "wwww.naukri.com"

naukri_analytics = pd.DataFrame({'Title':job_title, 
                       'Location': job_location,
                       'Company_Name':company_name, 
                       'Experience':experience_required,                        
                       })
naukri_analytics

,Title,Location,Company_Name,Experience
0,Data Analyst I,Bangalore/Bengaluru,Affine,5-10
1,Data Science / Data Engineer / Business Analys...,Bangalore/Bengaluru,Everest Fleet Pvt. Ltd.,0-3
2,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",Yespired,6-11
3,Senior Data Analyst,Bangalore/Bengaluru,Thomson Reuters,3-4
4,Sr Data Analyst,Bangalore/Bengaluru,KrazyBee,5-8
5,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,Bangalore/Bengaluru,Accenture,4-9
6,Data Analyst / Business analyst - US MNC (anal...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi /...",Talent Placers,2-7
7,Business Analyst/Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, D...",RGBSI,3-5
8,Junior Data Analyst,"Bangalore/Bengaluru, New Delhi",Botree Software,1-6
9,Senior Data Analysis Analyst,"Bangalore/Bengaluru, Pune, Chennai",Jobs Accuracy,7-12

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps: ##1. First get the webpage https://www.naukri.com/ 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field. 3. Then click the search button. 4. Then scrape the data for the first 10 jobs results you get. 5. Finally create a dataframe of the scraped data.

In [49]:
# connect to webdriver
driver=webdriver.Chrome(r'C:\Users\Naren Kumar\Downloads\chromedriver_win32\chromedriver.exe')
driver.get("https://www.naukri.com/")

In [50]:
search_field_designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
search_field_designation.send_keys("Data Scientist")
search_location=driver.find_element(By.XPATH,'/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_location.send_keys("Banglore")

In [51]:
#clicking using web absolute xpath function 
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [52]:
search_btn.click()

In [53]:
# creating empty list to scraping data into them

job_title=[]
job_location=[]
company_name=[]

In [54]:
# extracting all the tags having job-titles

title_tag = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
title_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="e8c68cf0-9234-4ce4-9a30-21e5040d0b70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="19ce4c50-c413-4fd0-ac86-4d7bbc3ea04e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="5049cb29-9182-4c60-82f4-009f54d561b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="a9d6f4d3-8421-4bb2-9377-516178c3fc7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="f0929c37-d7d0-4621-adb7-fcf6104f3b7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="9a1f7d99-8dbe-410b-b0a7-afa6bc8db637")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="5c165d0d-2e04-4a25-86e0-74544f0bd2b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="a3911c6a-60e6-446e-bd62-bea9748c3f42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="c54a4bef-487d-4f36-a572-88bf34935ec6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="d21c3189-525e-4777-b9f8-839e0b52a682")>]

In [55]:
# extract the job title text iteratively from these tags one by one

for i in title_tag:
    title = i.text
    job_title.append(title)
job_title = job_title[0:10]

print("Below are the top 10 job data's job title: \n", job_title)

Below are the top 10 job data's job title:
 ['Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes', 'Hiring For Senior Data Scientist', 'Senior Data Scientist', 'Dataiku Consultant', 'Research and Development -AI/ML -(PhD )', 'Opportunity For Data Scientist - Female Candidates ONLY', 'Senior Data Science Engineer', 'Data Science - Engineering Manager', 'Data Scientist', 'Data & Analytics Tech - Informatica Cloud- Senior Associate']

In [56]:
# extracting all the tags having job-location 

location_tag = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="14a9cdd9-acf0-46d8-9694-586cecc0d372")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="6ecb4788-402e-4e63-a4e2-624327b869d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="2cb9f984-03e0-437e-8109-f2a4a9725787")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="cd28f3fe-e2ca-4b5c-a076-301fdfbb1e03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="90f109ac-7439-4748-b607-eb97a37e2cfd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="06c753a9-5650-4ced-9a06-8d210261473c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="6b8e77c7-0dfa-49c5-89a3-22089d3ee1a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="13f2377f-ae79-452c-af05-b55703df1818")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="bbc66288-1d0b-4285-8047-a7fc7e8dc409")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="4f9d4e6b-1efc-4175-92eb-f35a951b3931")>]

In [57]:
# extract the job location text iteratively from these tags one by one

for i in location_tag:
    location = i.text
    job_location.append(location)
job_location = job_location[0:10]
print("Below are the top 10 job data's company location \n", job_location)

Below are the top 10 job data's company location
 ['Kochi/Cochin, New Delhi, Bangalore/Bengaluru, Coimbatore, Chennai, Pune, Mumbai, Hyderabad', 'Pune, Bangalore/Bengaluru', 'Mumbai, Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru, REMOTE', 'Pune, Chennai, Bangalore/Bengaluru', 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR', 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)', 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)', 'Noida, Mumbai, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [58]:
# extracting all the tags having company name

company_tag = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
company_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="36942d69-7c64-4406-b17c-93d9d7b60ee5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="c8b63f5a-5124-45ba-901f-2ad4f369f6fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="e4ba62f8-1dff-4f7f-8280-e0342e303b46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="e657c541-fa7c-46d5-ab6d-c1c7910cad1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="3a0b12f9-68d9-486b-b91b-13c0ce2202c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="3ae7e738-0958-4541-87cc-77b6c01b32bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="a2674480-af80-4899-b87f-d7bc3c22dd9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="1a8c1359-8a8a-4edb-957e-d6fbe8a98830")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="5d8598fa-0092-4eb4-83e1-b995856a47ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ef771bf5cc00f0d740a86bf8b6f5e8e", element="dd3b8b0e-d6e8-4d69-b719-ec903137e47b")>]

In [59]:
# extract the company name text iteratively from these tags one by one

for i in company_tag:
    company = i.text
    company_name.append(company)
company_name = company_name[0:10]
print("Below are the top 10 job data's : \n", company_name)

Below are the top 10 job data's :
 ['Wipro', 'TATA CONSULTANCY SERVICES (TCS)', 'Spiceworks', 'Wipro', 'EXL', 'PayU', 'Fractal Analytics', 'Paytm', 'Applied Materials', 'PwC']

In [60]:
# making DataFrame of the top 10 job details from the "wwww.naukri.com"

naukri_scientist = pd.DataFrame({'Title':job_title, 
                       'Location': job_location,
                       'Company_Name':company_name,                                   
                       })
naukri_scientist

,Title,Location,Company_Name
0,Urgent Job Opening For AI Practitioner - Data ...,"Kochi/Cochin, New Delhi, Bangalore/Bengaluru, ...",Wipro
1,Hiring For Senior Data Scientist,"Pune, Bangalore/Bengaluru",TATA CONSULTANCY SERVICES (TCS)
2,Senior Data Scientist,"Mumbai, Hyderabad/Secunderabad, Pune, Bangalor...",Spiceworks
3,Dataiku Consultant,"Pune, Chennai, Bangalore/Bengaluru",Wipro
4,Research and Development -AI/ML -(PhD ),"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",EXL
5,Opportunity For Data Scientist - Female Candid...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",PayU
6,Senior Data Science Engineer,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Fractal Analytics
7,Data Science - Engineering Manager,"Noida, Mumbai, Bangalore/Bengaluru",Paytm
8,Data Scientist,Bangalore/Bengaluru,Applied Materials
9,Data & Analytics Tech - Informatica Cloud- Sen...,Bangalore/Bengaluru,PwC

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:

first get the webpage https://www.naukri.com/
Enter “Data Scientist” in “Skill, Designations, and Companies” field.
Then click the search button.
Then apply the location filter and salary filter by checking the respective boxes
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data. Note: All of the above steps have to be done in code. No step is to be done manually

In [61]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.naukri.com/")

In [62]:
# enter “Data Scientist” in “Skill, Designations, Companies” field.
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

In [63]:
search_button=driver.find_element(By.XPATH,'/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [64]:
# apply the location filter "Delhi-NCR" and salary "3-6 lakh" filter by checking the respective boxes

loc_clk=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft']")
for i in loc_clk:
    if i.text == 'Delhi / NCR':   
        i.click() # Checking the checkbox to apply filter on the location
        break

In [65]:
# applying salary filter
sal_clk=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft']")
for i in sal_clk:
    if i.text == '3-6 Lakhs':   
        i.click() # Checking the checkbox to apply filter on the salary
        break

In [66]:
# specifying the url of the webpage to be scraped
url = "https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityTypeGid=9508&ctcFilter=3to6"

# open the webpage through our web driver
driver.get(url)

In [67]:
# creating empty list to scraping data into them

job_title=[]
company_name=[]
job_location=[]
experience_required=[]

In [68]:
# extracting all the tags having job-titles

title_tag = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
title_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="88dad9ab-c3d0-4e44-845b-927193df2ee7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="da64ff25-7b65-4fab-aed4-2cf6f4e0cd12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="2f3f77d1-5b6b-40d8-a96c-d46e955158fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="25421672-00ce-4c90-8b6d-ef7704a5cfbd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="5c90fb7d-51ab-4620-bc80-d8d9900c5a91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="25a6d32d-639d-4d1f-80bb-d175dd468bcf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="871ef66e-2258-43e2-a8f1-adac77e47fe9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="5ccc762f-93f8-446f-b69b-33028a28ac57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="987abf8e-2264-4636-ab8f-140dfe178af1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="0b323529-ccff-4abe-a85f-7b1766363710")>]

In [69]:
# extract the job title text iteratively from these tags one by one

for i in title_tag:
    title = i.text
    job_title.append(title)
job_title = job_title[0:10]

print("LIST of top 10 job data's job title: \n", job_title)

LIST of top 10 job data's job title:
 ['DigitalBCG GAMMA Data Scientist', 'Senior Associate - Data Science', 'Data Scientist - Noida/Bangalore', 'Data Scientist - Engine Algorithm', 'Data Scientist For Healthcare Product team', 'Data Scientist For Healthcare Product team', 'Data Scientist - MIND Infotech', 'Data Scientist', 'Data Science Associate', 'Knowledge/Data Scientist']

In [70]:
# extracting all the tags having job-location 

location_tag = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="fe076ea8-0740-4991-acf6-87311a206bd0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="a7ae5fa3-4855-4322-a829-159b5c6d16ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="a5eb16a6-e65b-40f5-a799-dc3d884c98a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="60ea5833-ef06-4c94-aea6-acfee9b7723f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="1d1bcff4-e4f5-414f-bdb3-f364028f0572")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="ad3f70ff-20ab-4b62-b314-effe8da6b343")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="3ccc2ab3-b48f-4171-8f9c-8a3d66df2d33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="4cad7f23-da6e-4223-abd7-8036ad520719")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="f1a64655-4132-4b58-8fe3-8c44d094c959")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="ddf80f69-5456-40f9-952f-b480c7deba73")>]

In [71]:
# extract the job location text iteratively from these tags one by one

for i in location_tag:
    location = i.text
    job_location.append(location)
job_location = job_location[0:10]
print("LIST OF top 10 job data's company location \n", job_location)

LIST OF top 10 job data's company location
 ['New Delhi, Bangalore/Bengaluru', 'Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru', 'Noida, Bangalore/Bengaluru', 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru', 'Delhi / NCR, Chennai, Bangalore/Bengaluru', 'Delhi / NCR, Chennai, Bangalore/Bengaluru', 'Noida', 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)', 'Delhi / NCR(Vaishali)', 'Delhi / NCR']

In [72]:
# extracting all the tags having company name

company_tag = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
company_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="4ed85c62-0ad7-4e7b-ad50-e8e766046962")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="2a25a1a2-13c7-4168-87ac-b5fe7f97d861")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="6939bb01-65f1-4946-8e82-a102bc88805d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="e22b26c5-5c13-43ec-8ecd-cb957913fb34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="fa752dee-a64a-4f9c-88a9-42921ea33191")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="7169b6e4-951f-43dc-bd52-f462ee0eff98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="753edc26-c321-4c5e-9d53-5eef70557753")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="305337e8-b7b9-498f-b4ea-16c6fa21b33d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="3d894001-35ca-4a32-b7d3-d5e88b39a2ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="b599bc83-8fb9-4fc9-8b6f-18303cbd3329")>]

In [73]:
# extract the company name text iteratively from these tags one by one

for i in company_tag:
    company = i.text
    company_name.append(company)
company_name = company_name[0:10]
print("LIST top 10 job data's : \n", company_name)

LIST top 10 job data's :
 ['Boston Consulting Group', 'Black Turtle', 'EXL', 'Primo Hiring', 'SECUREKLOUD TECHNOLOGIES', 'SECUREKLOUD TECHNOLOGIES', 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED', 'Sydata Consulting India Pvt Ltd', 'Kreate Energy', 'BOLD Technology Systems']

In [74]:
# extracting all the tags having job-experience

exp_tag = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="17c5a314-ebbe-45f5-a95d-4da58114b4ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="7292670c-5b54-4679-8ebc-d67239158d91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="8b6b71fb-b685-4f26-8aa2-0bad5e75c5a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="277e3b70-104a-4c73-8844-3640feaa1c92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="e55ab5ef-a44e-41d7-aa4d-244845e4e063")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="de880dee-14c5-445f-bda6-7a7c2668db54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="55c1fedc-4bc2-4375-866b-ab0189e0077d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="52410795-447d-4bd9-9c21-7dbcb3059ee4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="62a3f226-5b9f-4de0-b7d4-48d4008f834a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c627b9d389762ca0092b1cdf07a35964", element="0494c749-5301-4dcc-8faf-c61f9f4c45fa")>]

In [75]:
# extract the job experience text iteratively from these tags one by one

for i in exp_tag:
    experience_required.append(i.text.replace("Yrs",""))
experience_required= experience_required[0:10]
print(" LIST top 10 job data's job title: \n", experience_required)

 LIST top 10 job data's job title:
 ['2-5 ', '4-7 ', '5-10 ', '1-3 ', '2-7 ', '2-7 ', '4-8 ', '3-8 ', '2-4 ', '3-6 ']

In [76]:
# making DataFrame of the top 10 job details from the "wwww.naukri.com"

naukri_filter = pd.DataFrame({'Title':job_title, 
                       'Location': job_location,
                       'Company_Name':company_name, 
                       'Experience':experience_required,                        
                       })
naukri_filter

,Title,Location,Company_Name,Experience
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5
1,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle,4-7
2,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10
3,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3
4,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7
5,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7
6,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8
7,Data Scientist,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Sydata Consulting India Pvt Ltd,3-8
8,Data Science Associate,Delhi / NCR(Vaishali),Kreate Energy,2-4
9,Knowledge/Data Scientist,Delhi / NCR,BOLD Technology Systems,3-6

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 1. Brand 2. Product Description 3. Price
To scrape the data you have to go through following steps: 1. Go to Flipkart webpage by url : https://www.flipkart.com/ 2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon 3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.

After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it. 5. Now scrape data from this page as usual 6. Repeat this until you get data for 100 sunglasses. Note

In [77]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.flipkart.com/")

In [78]:
# enter “sunglasses” in “search for products, brands and more” field.
search_product = driver.find_element(By.XPATH,"//div[@class='_3OO5Xc']/input")
search_product.send_keys("sunglasses")

In [79]:
# click the search button
search_btn = driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn.click()

In [80]:
# specifying the url of the webpage to be scraped
url = "https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

# open the webpage through our web driver
driver.get(url)

Scraping the data for the first 100 sunglasses

In [81]:
# iterating first 3 website pages to scrape the data

page_url=[]

url=driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:3]

In [82]:
# creating empty list to scraping data into them

brand=[]
Description=[]
Price=[]
Discount=[] 

# extracting all the tags

for i in page_url:
    driver.get(i)
    titles_brand=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in titles_brand:
        brand.append(i.text)
        
    titles_Description=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in titles_Description:
        Description.append(i.text)
        
    titles_Price=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in titles_Price:
        Price.append(i.text.replace("₹",""))
        
    titles_Discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']/span")
    for i in titles_Discount:
        Discount.append(i.text.replace("% off",""))

In [83]:
# creating dataframe for the first 100 sunglasses 

flipkart=pd.DataFrame({})
flipkart['Brand']=brand[0:100]
flipkart['Product Description']=Description[0:100]
flipkart['Price']=Price[0:100]
flipkart['Discount %']=Discount[0:100]

print("TOP 100 sunglasses listings on flipkart.com:\n")
flipkart

TOP 100 sunglasses listings on flipkart.com:

,Brand,Product Description,Price,Discount %
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",749,62
1,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (57)",759,62
2,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",177,82
3,New Specs,UV Protection Rectangular Sunglasses (Free Size),264,89
4,PIRASO,UV Protection Aviator Sunglasses (54),249,84
...,...,...,...,...
95,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (57)",759,62
96,Fastrack,UV Protection Wayfarer Sunglasses (55),721,9
97,Rich Club,"UV Protection, Polarized Round Sunglasses (50)",375,62
98,Fastrack,UV Protection Round Sunglasses (55),979,2
99,NuVew,UV Protection Cat-eye Sunglasses (60),385,73

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker: 1. Brand 2. Product Description 3. Price

In [90]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.flipkart.com/")

In [ ]:
# enter “sneakers” in “search for products, brands and more” field.
search_product = driver.find_element(By.XPATH,"//div[@class='_3OO5Xc']/input")
search_product.send_keys("sneakers")
# click the search button
search_btn = driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn.click()

SCRAPING THE SPECIFIC URL

In [96]:
# specifying the url of the webpage to be scraped
url = "https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

# open the webpage through our web driver
driver.get(url)

In [100]:
# iterating first 3 website pages to scrape the data

page_url=[]

url=driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:5]

In [101]:
# creating empty list to scraping data into them

brand=[]
Description=[]
Price=[]
Discount=[] 

# extracting all the tags

for i in page_url:
    driver.get(i)
    titles_brand=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in titles_brand:
        brand.append(i.text)
        
    titles_Description=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in titles_Description:
        Description.append(i.text)
        
    titles_Price=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in titles_Price:
        Price.append(i.text.replace("₹",""))
        
    titles_Discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']/span")
    for i in titles_Discount:
        Discount.append(i.text.replace("% off",""))

In [103]:
# creating dataframe for the first 100 sneakers:

flipkart=pd.DataFrame({})
flipkart['Brand']=brand[0:100]
flipkart['Product Description']=Description[0:100]
flipkart['Price₹']=Price[0:100]
flipkart['Discount %']=Discount[0:100]

print("Top 100 sneakers listings on flipkart.com:\n")
flipkart

Top 100 sneakers listings on flipkart.com:

,Brand,Product Description,Price₹,Discount %
0,Layasa,Sneakers For Men,499,50
1,RINDAS,Perfect Stylish Casual Shoes For Girls & Women...,298,70
2,Roadster,Sneakers For Men,959,69
3,Nilatin,Sneakers For Men,549,45
4,HOTSTYLE,CR-1 Sneakers For Men,267,46
...,...,...,...,...
95,oxpeo,Sneakers For Men,449,71
96,PUMA,Sneakers For Men,"2,078",37
97,Magnolia,Comfortable & Ultra Light Weight Sneaker Sneak...,399,60
98,WHITE WALKERS,Stylish Walking Partywear Sneakers Casual Shoe...,509,57
99,Scull Wings,Sneakers For Men,385,74

Q7: Go to the link - https://www.myntra.com/shoes https://www.myntra.com/shoes Set Price filter , Color filter to “Black” And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe .
Note: Applying the filter and scraping the data, everything should be done through code only and there should not be any manual step.

In [180]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.myntra.com/shoes")

In [186]:
# apply the Price filter to “Rs. 7149 to Rs. 14099” by checking the respective boxe

price = driver.find_elements(By.XPATH,"//ul[@class ='price-list']//label[@class ='common-customCheckbox vertical-filters-label']/div[@class = 'common-checkboxIndicator']") 
price[1].click()

In [187]:
# apply the Color filter to “Black”  by checking the box

color = driver.find_elements(By.XPATH,"//li[@class ='colour-listItem']//label[@class ='common-customCheckbox']/div[@class = 'common-checkboxIndicator']") 
color[0].click()

In [193]:
# specifying the url of the webpage to be scraped
url = "https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A7149.0_14099.0_7149.0%20TO%2014099.0&p=3"

# open the webpage through our web driver
driver.get(url)

In [194]:
# iterating first 3 website pages to scrape the data

page_url=[]

url=driver.find_elements(By.XPATH,"//li[@class='pagination-number']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:2]

In [195]:
# creating empty list to scraping data into them

brand=[]
Description=[]
Price=[]

# extracting all the tags

for i in page_url:
    driver.get(i)
    titles_brand=driver.find_elements(By.XPATH,"//h3[@class='product-brand']")
    for i in titles_brand:
        brand.append(i.text)
    
    titles_Description=driver.find_elements(By.XPATH,"//h4[@class='product-product']")
    for i in titles_Description:
        Description.append(i.text)
        
    titles_Price=driver.find_elements(By.XPATH,"//div[@class='product-price']")
    for i in titles_Price:
        Price.append(i.text)

In [196]:
# creating dataframe for the first 100 sneakers listings on myntra.com:

myntra =pd.DataFrame({})
myntra['Brand']=brand[0:100]
myntra['Shoe Description']=Description[0:100]
myntra['Price']=Price[0:100]

print("Top 100 sneakers listings on myntra.com:\n")
myntra

Top 100 sneakers listings on myntra.com:

        Brand                Shoe Description                        Price
0        ALDO             Men Leather Loafers   Rs. 7799Rs. 12999(40% OFF)
1        Nike    Men React Infinity 3 Running  Rs. 11196Rs. 13995(20% OFF)
2        ALDO             Men Leather Loafers   Rs. 7999Rs. 15999(50% OFF)
3        Nike      Men KD 15 Basketball Shoes  Rs. 11895Rs. 13995(15% OFF)
4        Nike  Women React MR 3 Running Shoes   Rs. 7871Rs. 10495(25% OFF)
..        ...                             ...                          ...
95       Xtep               Men Running Shoes                     Rs. 7699
96  J.FONTINI      Men Leather Formal Loafers                     Rs. 7490
97  J.FONTINI       Men Black Leather Loafers                     Rs. 8490
98    Saint G      Women Leather Heeled Mules     Rs. 8455Rs. 8900(5% OFF)
99  J.FONTINI      Men Leather Formal Loafers                     Rs. 7490

[100 rows x 3 columns]

In [197]:
#close the driver
driver.close()

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:

1. Title
2. Ratings
3. Price

In [198]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.amazon.in/")

In [199]:
# enter “laptop” in the search field.
search_product = driver.find_element(By.XPATH,"//div[@class='nav-search-field ']/input")
search_product.send_keys("laptop")

In [200]:
# click the search button
search_btn = driver.find_element(By.XPATH,"//div[@class='nav-search-submit nav-sprite']")
search_btn.click()

In [201]:
# applying CPU Type filter to “Intel Core i7” filter by checking the respective box
i7_clk=driver.find_elements(By.XPATH,"//span[@class='a-size-base a-color-base']")
for i in i7_clk:
    if i.text == 'Intel Core i7':   
        i.click() # Checking the checkbox to apply filter on the laptop
        break

In [202]:
# creating empty list to scraping data into them

Title=[]
Rating=[]
Price=[]

# extracting all the tags

titles=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in titles:
    Title.append(i.text)
    
titles_rat=driver.find_elements(By.XPATH,"//div[@class='a-row a-size-small']/span")
for i in titles_rat:
    Rating.append(i.get_attribute("aria-label"))
        
titles_Price=driver.find_elements(By.XPATH,"//span[@class='a-price']")
for i in titles_Price:
    Price.append(i.text[1:])

In [203]:
# extratcing ratings from the unorganised rating tag

rating=[]
for i in range(0,len(Rating)):
    if i == 0 or  i/2 == i//2:
        rating.append(Rating[i][0:3])

In [204]:
# creating dataframe for the first 10 laptops data on amazon.com:

amazon =pd.DataFrame({})
amazon['Title']=Title[0:10]
amazon['Rating']=rating[0:10]
amazon['Price']=Price[0:10]

print("The data for the first 10 laptops data on amazon.com:\n")
amazon

The data for the first 10 laptops data on amazon.com:

                                               Title Rating     Price
0  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...    4.3    89,990
1  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    4.2    57,600
2  Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th G...    3.8    75,990
3  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...    3.9    82,990
4  Acer Nitro 5 Gaming Laptop/12th Gen Intel Core...    4.3  1,08,990
5  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...    4.0    87,900
6  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    3.8    86,990
7  (Renewed) Lenovo IdeaPad Slim 3i (82H801CSIN) ...    3.8    38,325
8  (Renewed) Dell Latitude E7470 Intel Core i7 6t...    3.8    39,177
9  (Renewed) Dell Intel Core i7 7th Gen 14.Inch(3...    3.4    51,995

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:

First get the webpage https://www.ambitionbox.com/
1. Click on the Job option
2. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
3. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
4. Then scrape the data for the first 10 jobs results you get on the above shown page.
5. Finally create a dataframe of the scraped data. Note: All the steps required during scraping should be done through code only and not manually.

In [219]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get(" https://www.ambitionbox.com//")

In [220]:
# click the "Jobs" webpage
cl_job = driver.find_element(By.XPATH,"//a[@class='link jobs']")
cl_job.click()

In [221]:
#In place of “Search by Designations, Companies, Skills” enter “Data Scientist” 

search_title = driver.find_element(By.XPATH,"//span[@class='twitter-typeahead']/input")
search_title.send_keys("Data Scientist")

#click on search button.
search_btn = driver.find_element(By.XPATH,"//button[@class='ab_btn search-btn round']")
search_btn.click()

In [222]:
cl_loc = driver.find_element(By.XPATH,"//div[@class='show-flex']/div[2]") # Location dropdown
cl_loc.click()    
driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input').send_keys('Noida')

In [223]:
driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label').click()

In [224]:
#scraping company name, No. of days ago when job was posted, Rating of the company

#creating empty list
company_name = []
job_posted = []
rating = []

#Scraing all tags

company=driver.find_elements(By.XPATH,"//div[@class='company-info']")
for i in company:
    company_name.append(i.text.split("\n")[0])
    rating.append(i.text.split("\n")[1])
    
posted=driver.find_elements(By.XPATH,"//span[@class='body-small-l']")
for i in posted:
    job_posted.append(i.text)
    
# extratcing job posted days from the unorganised job posted tag

posted=[]
for i in range(0,len(job_posted)):
    if i == 0 or  i/2 == i//2:
        posted.append(job_posted[i])

In [225]:
# creating Dataframe 

ambition = pd.DataFrame({})
ambition["Company_name"] = company_name[1:]
ambition["Job_Posted"] = posted
ambition["Rating"] = rating[1:]

print("The data for the first 10 jobs results in ambitionbox.com :\n ")
ambition

The data for the first 10 jobs results in ambitionbox.com :

                                     Company_name Job_Posted Rating
0  Optum Global Solutions (India) Private Limited    11d ago    4.1
1                   GENPACT India Private Limited    18d ago    4.0
2                                   Latent bridge     2d ago    4.5
3                         Dew Solutions Pvt. Ltd.     9d ago    4.3
4                             InfoEdge India Ltd.    16d ago    3.9
5                         Info Edge India Limited    17d ago    3.9
6                         Info Edge India Limited    17d ago    3.9
7                                       Careerera     4d ago    3.8
8                                         CRMnext    12d ago    4.1
9                            Careernet Consulting   1mon ago    3.9

Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:

1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe

In [232]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get(" https://www.ambitionbox.com//")

In [233]:
# click on Salary webpage
driver.find_element(By.XPATH,"//a[@class='link salaries']").click()

In [234]:
# In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
search_job = driver.find_element(By.ID,"jobProfileSearchbox")
search_job.send_keys("Data Scientist")

clk=driver.find_elements(By.XPATH,"//div[@class='suggestion_wrap tt-suggestion tt-selectable']")
for i in clk:
    if i.text == 'Data Scientist':   
        i.click() # click on “Data Scientist”
        break

In [235]:
#scrape Company name, Number of salaries, Average salary, Min salary, Max Salary, experience required.

company_name = []
salary_record = []
average_salary = []
min_salary = []
max_salary = []
exp = []

#Scraing all tags

company=driver.find_elements(By.XPATH,"//div[@class='company-info']")
for i in company:
    company_name.append(i.text.split("\n")[0])                              #company name
    salary_record.append(i.text.replace("based on", " ").replace("salaries","").split("\n")[1:2]) #Total Salary Record
    exp.append(i.text.replace("yrs exp","").replace("yr exp","").split("\n")[-1])                # Experience required
    
avg_salary=driver.find_elements(By.XPATH,"//div[@class='average-indicator-wrapper']")
for i in avg_salary:
    average_salary.append(i.text.replace("₹","").replace("L",""))            # average salary

salary=driver.find_elements(By.XPATH,"//div[@class='salary-values']")
for i in salary:
    min_salary.append(i.text.replace("₹","").replace("L","").split("\n")[0])  # minimum salary
    max_salary.append(i.text.replace("₹","").replace("L","").split("\n")[1])  # maximum salary

In [236]:
# creating Dataframe for the company name, total salary record, average salary, minimum salary, maximum salary, experience required.

ambition =pd.DataFrame({})
ambition["Company_Name"] = company_name[:10]
ambition["Total_Salary_Record"] = salary_record[:10]
ambition["Experience_Required"] = exp[:10]
ambition["Average_Salary_L"] = average_salary[:10]
ambition["Minimum_Salary_L"] = min_salary
ambition["Maximum_Salary_L"] = max_salary

print(" first 10 Companies results in ambitionbox.com :\n ")
ambition

 first 10 Companies results in ambitionbox.com :

,Company_Name,Total_Salary_Record,Experience_Required,Average_Salary_L,Minimum_Salary_L,Maximum_Salary_L
0,Google,[Software Engineer Salary],1-3 erience (based on 35 salaries),31.3,11.0,65.0
1,Microsoft Corporation,[Software Engineer Salary],1-4 erience (based on 274 salaries),24.0,13.0,50.0
2,Goldman Sachs,[Software Engineer Salary],2 erience (based on 18 salaries),23.0,12.0,34.0
3,Tekion,[Software Engineer Salary],2-4 erience (based on 35 salaries),21.2,12.0,33.0
4,Amazon,[Software Engineer Salary],1-4 erience (based on 122 salaries),21.0,8.0,45.0
5,Servicenow Software Development India,[Software Engineer Salary],2-4 erience (based on 60 salaries),20.5,13.0,28.0
6,Flipkart,[Software Engineer Salary],1-4 erience (based on 64 salaries),20.4,7.5,31.0
7,Walmart,[Software Engineer Salary],1-4 erience (based on 87 salaries),20.0,11.4,32.5
8,PayPal,[Software Engineer Salary],1-2 erience (based on 29 salaries),19.9,11.0,31.0
9,Myntra,[Software Engineer Salary],1 erience (based on 10 salaries),19.5,14.0,27.0

In [217]:
#close the driver
driver.close()